@import "tailwindcss";
@import "@fontsource-variable/inter";

:root {
  font-family: 'Inter Variable', sans-serif;

  --primary: #007BFF;
  --white: #FFFAFA;
  --whitebg: #B9B9B9;
  --black: #1A1A1A;
  --darkwhite: #313131;
}

*::selection {
  background-color: var(--white);
  color: var(--black);
}