---
import Layout from '../layout.astro';
import Nav from '../components/nav.astro';
import Hero from '../components/hero.astro';
import ServicesSection from '../components/servicesSection.astro';
import Footer from '../components/footer.astro';
---

<Layout title="Buga Software">
  <Nav/>
  <div class="space-y-5">
    <main class="flex flex-col text-[var(--whitebg)] px-4">
      <Hero />
      <ServicesSection />
      <!-- <Reasons />
      <Projects />
      <Contact /> -->
    </main>
    <!-- <Footer /> -->
  <div>
</Layout>
