    <footer class="border-t-2 border-[var(--darkwhite)] py-4 px-40 flex justify-between items-center text-[var(--whitebg)]">
      <div class="p-2">
        <p class="text-sm">© 2025. Todos los derechos reservados</p>
        <p class="text-sm">Desarrollado por Buga Software</p>
      </div>

      <div class="p-2">
        <img src="/favicon.svg" alt="Buga Software Logo" class="size-12" />
      </div>
    </footer>