    <footer class="bg-black border-t-2 border-yellow-400 py-4 px-40 flex justify-between items-center">
      <div class="bg-red-500 p-2">
        <p class="text-sm">© 2025. Todos los derechos reservados</p>
        <p class="text-sm">Desarrollado por Buga Software</p>
      </div>

      <div class=" bg-blue-500 p-2">
        <img src="/favicon.svg" alt="Buga Software Logo" class="h-8 w-8" />
      </div>
    </footer>