<main class="flex flex-col bg-blue-100">
  <!-- Sección 1 -->
  <section class="flex flex-col items-center justify-center px-6 md:px-10 py-32 bg-green-500 w-full">
    <h1 class="text-5xl md:text-6xl text-center font-bold max-w-4xl bg-red-500">
      Optimiza procesos y crece <br /> con soluciones digitales
    </h1>
    <p class="text-base md:text-lg text-center mt-6 max-w-2xl bg-yellow-500">
      Nos encargamos de darte las mejores soluciones con <br class="hidden md:block" />
      tecnologías modernas brindándote el mejor soporte
    </p>
  </section>

  <!-- Sección 2 -->
  <section class="flex flex-col lg:flex-row justify-around items-center gap-9 lg:px-10 px-6 py-32 bg-orange-500 w-full">
    <!-- Texto -->
    <div class="max-w-xl bg-purple-500">
      <h2 class="text-5xl font-semibold mb-6 leading-tight bg-red-500">
        Construimos lo<br />que imaginas
      </h2>
      <p class="text-lg bg-blue-500">
        Porque detrás de cada idea hay una historia.<br />
        Y detrás de cada historia, algo que vale la pena construir.
      </p>
    </div>

    <!-- Pasos -->
    <div class="flex flex-col gap-6 w-full max-w-md bg-pink-500">
      <!-- Paso 1 -->
      <div class="flex items-start gap-4 p-6 border border-gray-700 rounded-xl bg-fuchsia-500">
        <div class="text-5xl font-bold bg-white ">1</div>
        <div class="bg-yellow-500">
          <p class="font-semibold">Elige una idea</p>
          <p class="text-sm">Tú traes la visión, nosotros el enfoque.</p>
        </div>
      </div>

      <!-- Paso 2 -->
      <div class="flex items-start gap-4 p-6 border border-gray-700 rounded-xl bg-fuchsia-500">
        <div class="text-5xl font-bold bg-white">2</div>
        <div class="bg-yellow-500">
          <p class="font-semibold">Creamos tu solución</p>
          <p class="text-sm">Diseño y desarrollo hechos a medida.</p>
        </div>
      </div>

      <!-- Paso 3 -->
      <div class="flex items-start gap-4 p-6 border border-gray-700 rounded-xl bg-fuchsia-500">
        <div class="text-5xl font-bold bg-white">3</div>
        <div class="bg-yellow-500">
          <p class="font-semibold">La lanzamos al mundo</p>
          <p class="text-sm">¡Probamos, optimizamos y publicamos!</p>
        </div>
      </div>
    </div>
  </section>
</main>
