---
const items = [
  { label: 'Servicios', href: '/services' },
  { label: 'Proyectos', href: '/proyects' },
  { label: 'Clientes', href: '/clients' },
  { label: 'Contacto', href: '/contact' },
];
---

<nav class="px-15 py-5 w-full flex justify-between items-center">
  <a href="/">
    <img class="aspect-square w-7" src="icon.svg" alt="Icono de Buga Software">
  </a>

  <!-- burger menu -->
  <button id="burger-btn" class="md:hidden text-white p-3 hover:cursor-pointer">
    <svg class="size-7" viewBox="0 0 16 16" fill="currentColor">
      <rect class="transition-transform duration-300 ease-in-out origin-center" x="1" y="5" width="14" height="1" rx="0.5"></rect>
      <rect class="transition-transform duration-300 ease-in-out origin-center" x="1" y="10" width="14" height="1" rx="0.5"></rect>
    </svg>
  </button>

  <!-- desktop -->
  <div class="hidden md:flex space-x-4 text-white">
    {items.map(({ label, href }, index) => (
      <a
        href={href}
        class={`inline-block rounded-md px-5 py-1 transition-colors duration-100 ${
          index + 1 == items.length
            ? 'bg-white/10 hover:opacity-80'
            : 'hover:bg-white/10'
        }`}
      >
        {label}
      </a>
    ))}
  </div>
</nav>

<!-- mobile -->
<div class="relative mobile-nav hidden md:hidden">
  <div class="absolute top-0 left-0 w-full h-screen bg-black opacity-90 z-100 text-zinc-400 flex flex-col justify-between items-center p-10">
    <ul class="flex flex-col space-y-5 text-2xl text-center font-medium">
      {items.map(({ label, href }) => (
        <li class="hover:text-white transition-colors duration-150">
          <a href={href}>{label}</a>
        </li>
      ))}
    </ul>
  </div>
</div>

<script lang="ts">
  const button = document.getElementById('burger-btn')
  const nav = document.querySelector('.mobile-nav')
  const body = document.body
  const line = button.querySelectorAll('rect')

  button?.addEventListener('click', () => {
    nav?.classList.toggle('hidden')
    body?.classList.toggle('overflow-hidden')

    // animation menu icon
    line[0].classList.toggle('rotate-45')
    line[0].classList.toggle('translate-y-[1.8px]')
    line[1].classList.toggle('-rotate-45')
    line[1].classList.toggle('-translate-y-[1.8px]')
  })
</script>
