---
interface Props {
  title: string;
  description: string;
  icon: string;
}

const { title, description, icon } = Astro.props;
---

<div class="border border-white/15 p-8 rounded-3xl hover:bg-white/5 transition">
  <div class="mb-4 flex justify-center">
    <div class="w-14 h-14 flex items-center justify-center rounded-full border border-white/20">
      <Fragment set:html={icon} />
    </div>
  </div>
  <h4 class="font-semibold text-xl mb-2">{title}</h4>
  <p class="text-[var(--whitebg)] mb-6">{description}</p>
</div>
