---
interface Props {
  title: string;
  description: string;
  icon: string;
}

const { title, description, icon } = Astro.props;
---

<div class="card group border border-white/15 p-8 rounded-3xl transition-all duration-500 hover:scale-[1.03] hover:shadow-[0_0_40px_rgba(0,123,255,0.1)] relative overflow-hidden">

  <div class="absolute inset-0 bg-gradient-to-br from-white/5 via-white/10 to-transparent opacity-80 blur-2xl pointer-events-none"></div>
  
  <div class="mb-4 flex justify-center relative">
    <div class="absolute w-16 h-16 bg-white/30 blur-2xl rounded-full transition-all ease-in-out duration-500"></div>
    <div class="w-14 h-14 flex items-center justify-center rounded-full border border-white/20 bg-white/5 transition-all duration-300 group-hover:border-white/60 group-hover:shadow-white text-white group-hover:text-white">
      <Fragment set:html={icon} />
    </div>
  </div>

  <h4 class="font-semibold text-xl mb-2 relative z-10">{title}</h4>
  <p class="text-[var(--whitebg)] mb-6 relative z-10">{description}</p>
</div>

