<section class="flex flex-col pt-6 md:pt-16 w-full text-left text-[var(--whitebg)]">

  <h1 class="text-4xl md:text-6xl font-bold max-w-4xl text-[var(--white)]">
    Nuestros servicios
  </h1>

  <p class="md:text-lg text-left mt-6">
    Nuestros servicios abarcan una amplia gama de disciplinas, incluyendo desarrollo web personalizado, diseño UI/UX intuitivo, aplicaciones escalables y consultoría digital estratégica, todo enfocado en generar resultados reales y un impacto duradero.
  </p>
</section>