---
interface Props {
  title: string;
  aurora?: boolean;
}

const { title, aurora = true } = Astro.props;

import "./styles/global.css";
import Aurora from "./components/react/Aurora.tsx";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Creamos soluciones digitales personalizadas que optimizan procesos y potencian el crecimiento de negocios en la ciudad de Buga" />
    
    <title>{title}</title>
  </head>

  <body class="bg-black">
    {aurora && (
      <div class="absolute w-full h-full top-0 left-0 z-[-1]">
        <Aurora
          client:only="react"
          colorStops={["#3b0a45", "#7b2cbf", "#1e3a8a"]}
          blend={2.5}
          amplitude={1.0}
          speed={0.5}
        />
    </div>
    )}
    <slot />
  </body>
</html>

<script>
  // Smooth scrolling
  import Lenis from "lenis";

  const lenis = new Lenis({
    autoRaf: true,
  });
</script>
