---
interface Props {
  title: string;
  silk?: boolean;
}

const { title, silk = true } = Astro.props;

import "./styles/global.css";
import Silk from "./components/react/Silk.tsx";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Creamos soluciones digitales personalizadas que optimizan procesos y potencian el crecimiento de negocios en la ciudad de Buga" />
    
    <title>{title}</title>
  </head>

  <body class="bg-neutral-950">
    <div class="absolute top-0 z-[-2] min-h-full w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
    <!-- {silk && ( -->
    <!-- <div class="absolute w-full h-full top-0 left-0 z-[-1]"> -->
    <!--   <Silk  -->
    <!--     client:only="react" -->
    <!--     speed={5} -->
    <!--     scale={0.8} -->
    <!--     color="#444444" -->
    <!--     noiseIntensity={1.5} -->
    <!--     rotation={0} -->
    <!--   /> -->
    <!--   <div class="absolute w-full h-full top-0 left-0" style="background: linear-gradient(to bottom, transparent 80%, #000000 100%);"></div> -->
    <!-- </div> -->
    <!-- )} -->
    <slot />
  </body>
</html>

<script>
  // Smooth scrolling
  import Lenis from "lenis";

  const lenis = new Lenis({
    autoRaf: true,
  });
</script>
